
.hero {
    background: linear-gradient(to right, #007bff, #0056b3);
    color: white;
    padding: 100px 0;
}

.features {
    background-color: #f8f9fa;
}

.feature-box {
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.feature-box:hover {
    transform: scale(1.05);
}

footer {
    background-color: #212529;
    color: white;
}

/* Ícones */
.bi {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 15px;
}

.card-img-top {
    width: 100%; 
    height: 430px; 
    object-fit: cover; /
}
